<h2>Menu Items</h2>
<% @menu_items.each do |menu_item| %>
  Name: <%= menu_item.name %>,
  Price: <%= menu_item.price %>,
  Ingredients: <% menu_item.ingredients.each do |i| %>
    <%= i.name %>
  <% end %>
  (<%= link_to 'Add ingredient', new_menu_item_ingredient_url(menu_item.id) %>)
  (<%= link_to 'Edit', edit_menu_item_url(menu_item) %>)
  <%= link_to 'Delete', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
<% end %>

<br />
<%= link_to 'Add a new menu item', new_menu_item_path %><br/>
